<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Challenge Symfony{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../../">Acceuil</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="../fournisseur">Fournisseur</a></li>
                    <li><a href="../marque">Marque</a></li>
                    <li><a href="../produit">Produit</a></li>
                    <li><a href="../client">Client</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container-fluid">
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
                <div id="message_notice">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        {{ flashMessage }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>

    <div class="wrapper_body">
        <div class="container_body">
            {% block body %}{% endblock %}
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
