{% extends '../base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Vente des lunettes</span></h1>
            </div>
            <div id="tables">
                <ul>
                    <li><a href="../fournisseur">Fournisseur</a></li>
                    <li><a href="../marque">Marque</a></li>
                    <li><a href="../produit">Produit</a></li>
                    <li><a href="../client">Client</a></li>
                </ul>
            </div>
            <div id="sep1">

            </div>
            <div id="sep2">

            </div>

        </div>
    </div>
{% endblock %}