{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sortie en stock</h1>
    <div class="row">
        <div class="col-md-6">
            {{ form_start(del_form, {'attr': {'novalidate':'novalidate'}}) }}

            <!-- ========= Affichage détaillé ======== -->
            {% set class = '' %}
            {% if not del_form.qte.vars.valid %}
                {% set class='has-error' %}
            {% endif %}
            <div class="form-group {{ class }}" >
                <label class="control-label" for="{{ del_form.qte.vars.id }}">Quantité : </label>
                <input type="text" class="form-control" id="{{ del_form.qte.vars.id }}"
                       name="{{ del_form.qte.vars.full_name }}" value="{{ del_form.qte.vars.value }}"
                >
                {% do del_form.qte.setRendered %}
                {% if not del_form.qte.vars.valid %}
                    {% for error in del_form.qte.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- ====================== -->
            {{ form_end(del_form) }}

            <div>
                <input type="button" value="Home" onclick="location.href='../../'"  />
                <input type="button" value="Retour" onclick="location.href='../'"  />
            </div>
        </div>

    </div>



{% endblock %}