{% extends 'base.html.twig' %}

{% block body %}

    <h1>Produit edit</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">{{ form_widget(edit_form) }}</div>
    <div>
        <button type="submit">Valider</button>
        <input type="button" value="Précedente" onclick="history.back()"  />
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
