{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Mrq</th>
                <th>Qte</th>
                <th>Prixttc</th>
                <th>Type</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.code }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.marque.nomMarque }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.prixTTC }}</td>
                <td>{{ produit.type }}</td>
                <td>{{ produit.genre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_majstk', { 'id': produit.id }) }}">Entree stock</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_delstk', { 'id': produit.id }) }}">Sortie stock</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <ul>
            <li>
                <a href="{{ path('produit_new') }}">Nouveau</a>
            </li>
        </ul>
    </div>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>

{% endblock %}
