{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entree en stock</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                {{ form_start(maj_form, {'attr': {'novalidate':'novalidate'}}) }}
                <div class="form-group">{{ form_row(maj_form.qte, {'attr':{'class':'form-control'}}) }}</div>
                {{ form_end(maj_form) }}
                <div>
                    <input type="button" value="Home" onclick="location.href='../../'"  />
                    <input type="button" value="Retour" onclick="location.href='../'"  />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
