{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit creation</h1>

    {{ form_start(form) }}
    <div class="form-group">{{ form_widget(form) }}</div>
    <div>
        <button type="submit">Valider</button>
        <input type="button" value="Précedente" onclick="history.back()"  />
    </div>
    {{ form_end(form) }}

{% endblock %}
