{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom marque</th>
                <th>Fournisseur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td><a href="{{ path('marque_show', { 'id': marque.id }) }}">{{ marque.id }}</a></td>
                <td>{{ marque.nomMarque }}</td>
                <td>{{ marque.fournisseur.NomFrns }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('marque_show', { 'id': marque.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('marque_edit', { 'id': marque.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marque_new') }}">Nouveau</a>
        </li>
    </ul>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>
{% endblock %}
