{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marque creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('marque_index') }}">Retour à la liste</a>
        </li>
    </ul>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>
{% endblock %}
