{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marque</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ marque.fournisseur.NomFrns }}</td>
            </tr>
            <tr>
                <th>Nommarque</th>
                <td>{{ marque.nomMarque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marque_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('marque_edit', { 'id': marque.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>
{% endblock %}
