{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modification fournisseur</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Valider" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('fournisseur_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>
{% endblock %}



