{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des fournisseurs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomfrns</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nomFrns }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseur_new') }}">Nouveau</a>
        </li>
    </ul>
    <div>
        <input type="button" value="Home" onclick="location.href='../../'"  />
        <input type="button" value="Retour" onclick="location.href='../'"  />
    </div>
{% endblock %}
